<section class="login-form">
    <form fxLayout="column" #f="ngForm" (ngSubmit)="onSubmitLogin(f)">
      <mat-form-field>
        <input matInput placeholder="Email" ngModel type="email" name="email" id="email" email required #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="emailInput.hasError('email')">Email is Invalid</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" ngModel type="password" name="password" id="password" required minlength="6">
        <mat-error>Password required</mat-error>
      </mat-form-field>
      <button [disabled]="!f.valid" type="submit" mat-raised-button color="primary">
        Login
      </button>
    </form>
</section>


<div class="container">
  <mat-card class="mb-15">
    <mat-card-title>
        Welcome To Dashboard
    </mat-card-title>
  </mat-card>

  <div fxLayout="row unwrap" fxLayoutGap="15px">
    <div fxFlex="calc(50% - 15px)" class="mb-15">
        <mat-card>
          <mat-card-title>
              Latest added courses
          </mat-card-title>
          <mat-card-content>
              hello world
          </mat-card-content>
          <mat-card-footer>
            <button mat-button color="warn">
              show all courses
            </button>
          </mat-card-footer>
        </mat-card>
    </div>
    <div fxFlex="calc(50% - 15px)" class="mb-15">
        <mat-card>
          <mat-card-title>
              Latest added students
          </mat-card-title>
          <mat-card-content>
            hello world
          </mat-card-content>
          <mat-card-footer>
            <button mat-button color="warn">
              show all students
            </button>
          </mat-card-footer>
        </mat-card>
    </div>
  </div>

</div>
<!-- container -->
