<div class="container">
  <mat-card class="mb-15">
    <mat-card-title>
      Welcome To Dashboard
    </mat-card-title>
  </mat-card>

  <div fxLayout="row unwrap" fxLayoutGap="15px">

    <div fxFlex="calc(50% - 15px)" class="mb-15">
      <mat-card>
        <mat-card-title>
          Latest added courses
        </mat-card-title>
        <mat-card-content>
          <ngx-datatable
            class="bootstrap"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]="coursesRowsUpdated"
            [columns]="coursesColumns">
          </ngx-datatable>
        </mat-card-content>
        <mat-card-footer>
          <a routerLink="/dashboard/courses" mat-button color="warn">
            show all courses
          </a>
        </mat-card-footer>
      </mat-card>
    </div>

    <div fxFlex="calc(50% - 15px)" class="mb-15">
      <mat-card>
        <mat-card-title>
          Latest added students
        </mat-card-title>
        <mat-card-content>
          hello world
        </mat-card-content>
        <mat-card-footer>
          <a routerLink="/dashboard/students" mat-button color="warn">
            show all students
          </a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

</div>
<!-- container -->
