<header>
  <mat-toolbar color="warn">
      <span>
        <button fxHide.gt-xs (click)="toggleSidebarHandler()" mat-icon-button aria-label="toggle menu">
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">
          Dashboard
        </a>
      </span>

      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul class="toolbar-navigation" fxLayout fxLayoutGap="10px">
          <li *ngIf="isAuth">
            <a routerLink="/">Home</a>
          </li>
          <li *ngIf="isAuth">
            <a routerLink="/">Courses</a>
          </li>
          <li *ngIf="isAuth">
            <a routerLink="/">Students</a>
          </li>
          <li *ngIf="isAuth">
            <a routerLink="/">Logout</a>
          </li>
          <li *ngIf="!isAuth">
            <a routerLink="/" (click)="logout()">Login</a>
          </li>
        </ul>
      </div>
  </mat-toolbar>
</header>
