<header>
  <mat-toolbar color="warn">
      <span>
        <button fxHide.gt-xs (click)="toggleSidebarHandler()" mat-icon-button aria-label="toggle menu">
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">
          Dashboard
        </a>
      </span>

      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul class="toolbar-navigation" fxLayout fxLayoutGap="10px">
          <li *ngIf="isAuth">
            <a routerLink="/dashboard">Home</a>
          </li>
          <li *ngIf="isAuth">
            <a routerLink="/dashboard/courses">Courses</a>
          </li>
          <li *ngIf="isAuth">
            <a routerLink="/dashboard/students">Students</a>
          </li>
          <li *ngIf="isAuth">
            <button mat-button type="button" (click)="logout()">Logout</button>
          </li>
          <li *ngIf="!isAuth">
            <a routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
  </mat-toolbar>
</header>
