<mat-nav-list role="list">
  <a *ngIf="isAuth" (click)="closeSideNav()" routerLink="/dashboard/courses" mat-list-item>
    <mat-icon matListIcon>bookmarks</mat-icon>
      Courses
  </a>
  <a *ngIf="isAuth" (click)="closeSideNav()" routerLink="/dashboard/students" mat-list-item>
    <mat-icon matListIcon>face</mat-icon>
      Students
  </a>
  <mat-list-item *ngIf="isAuth" (click)="logout()">
    <button mat-icon-button>
      <mat-icon>power_settings_new</mat-icon>
      Logout
    </button>
  </mat-list-item>
  <mat-list-item *ngIf="!isAuth" (click)="closeSideNav()">
    <button mat-icon-button>
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
  </mat-list-item>
</mat-nav-list>
