.card-list {
  display: flex;
  flex-wrap: wrap;

  > mat-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em;

    @media (min-width: 540px) and (max-width: 767px) {
      width: calc(50.6% - 1em);
      margin-right: 1em;

      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }

    @media (min-width: 768px) {
      width: calc(33.85% - 1em);
      margin-right: 1em;

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }

    .mat-card-image-container {
      display: block;
      height: 250px;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
    }
  }
}
